/**{
    border: solid black 1px;
}*/

.imagemCapa{
    width: 80%;
}

.elementoClicavel:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.elementoClicavel:active{
    transform: scale(1.05);
    cursor: pointer;
}