/**{
    border: solid black 1px;
}*/

.imagemCapa{
    width: 80%;
}

.elementoClicavel:hover{
    transform: scale(1.05);
    cursor: pointer;
}

@media only screen and (orientation:portrait){
    .permitido { 
        display: none; 
    }

    .naoPermitido { 
        display: block; 
    }
}
@media only screen and (orientation:landscape){
    .naoPermitido{
        display: none; 
    }
}