/**{
    border: solid black 1px;
}*/

.imagemCapa{
    width: 80%;
}

.elementoClicavel:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    transform: translate(25%,10%);
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 50%;
  }

