.blue{
    background-color: blue;
}

body { 
    background: url("../../../img/fundo_livro.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.livro {
	width: 1200px;
	height: 800px;
	background: url("../../../img/moldura_livro.png") no-repeat center center fixed;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#flipbook{
	width: 50%;
	height: 50%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#canvas{
	width: 960px;
	height: 600px;
	margin: 100px auto;
}

.teste{
	background-size: 100% 100%;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/Monasterio_Khor_Virap%2C_Armenia%2C_2016-10-01%2C_DD_25.jpg");
}

.sj-book{
	height: 500px;
	margin: auto;
	width: 50%;
}