/*Ativar para debug*/
/**{
    border: solid 1px black;
}*/

.texto{
    font-size: 1vw;
    text-align: justify;
    font-weight: bold;
    border-width: 1vw;
}

.elementoClicavel:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.imagemLivro1{
    border-radius: 2.5rem;
    max-width: 70%;
}