/*Ativar para debug*/
/**{
    border: solid 1px black;
}*/

.elementoClicavel:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.zona-texto{
    background-color: #ff394c9c !important;
    border: 1px solid #ff171785;
    border-radius: 0.5rem;
    font-size: 2vh;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

p{
    font-weight: bold;
    margin: 0px !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (orientation:portrait){
    .permitido { 
        display: none; 
    }

    .naoPermitido { 
        display: block; 
    }
}
@media only screen and (orientation:landscape){
    .naoPermitido{
        display: none; 
    }
}